# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
build/
.next/
out/

# Turborepo
.turbo/

# Testing & Coverage
coverage/
*.lcov
test-results/
playwright-report/

# Environment Variables & Local Configs
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Editor & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
